// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); // Font Variables
$textPrimary: #494f66;
// HEAD
$textSecond: #676f8f;
$textResalt: #2f80ed;
$greenActive:#83cc5e;
$greyCard :#f0f2fa;
//INPUT
$errorInput: rgba(225,
88,
88,
0.919);
$borderInput: #c5cbe0;
$colorInput: #494f66;
$labelText: #a3abcc;
// LISTA
$grayLight :#e8e8f9